
<div class="text-layout">
  <h1>{{ name | titlecase }}</h1>
  <h1>{{ value | number }}</h1>
  <h1>{{ obj | json }}</h1>

</div>

<p-card [header]="name | titlecase"
        subheader="this is a subheader">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, nulla? Aliquam eaque sint animi alias. Vitae, tenetur voluptatum impedit, doloremque iusto, molestiae labore placeat adipisci cumque voluptatibus eaque obcaecati reiciendis.
</p-card>

<button pButton
        (click)="printName()"
        label="Print Name"
        icon="pi pi-bolt"
        iconPos="right"
        class="p-button-help"></button>
