<h2>Template: Swicths</h2>
<hr>

<form action="" #mySwitchForm="ngForm">

    <!-- Radios -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        name="radioGender"
                        [(ngModel)]="user.gender"
                        value="M" 
                        id="radioMale"
                        required>
                <label class="form-check-label" for="radioMale">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" 
                        type="radio"
                        value="F" 
                        [(ngModel)]="user.gender"
                        name="radioGender" 
                        id="radioFemale"
                        required>
                <label class="form-check-label" for="radioFemale">Female</label>
            </div>
              
        </div>

    </div>


    <!-- Switchs -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input class="form-check-input" 
                        type="checkbox" 
                        role="switch" 
                        id="flexSwitchCheckDefault"
                        [(ngModel)]="user.notification" 
                        name="notifications"
                        >
                <label class="form-check-label" for="flexSwitchCheckDefault">do you want recibe notifications?</label>
              </div>
        
        </div>
    </div>
    

    <!-- Check -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                        type="checkbox" 
                        id="flexCheckDefault"
                        name="termsAndConditions"
                        [(ngModel)]="termAndConditions"
                        required
                        >
                <label class="form-check-label" for="flexCheckDefault">
                    Terms & Conditions
                </label>
              </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="mySwitchForm.invalid">
                Save
            </button>
        </div>
    </div>

</form>


<h5>Form value</h5>
<hr>
<pre>{{mySwitchForm.value | json}}</pre>
<br>
<h5>Valid</h5>
<pre>{{mySwitchForm.valid}}</pre>
<br>
<pre>Conditions: {{'i'}}</pre>
